body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11pt;
}

#doc {
  padding-top: 1em;
  margin-bottom: 2em;
}

#board {
  float: left;
  margin-left: 5em;
}

form#setup div {
  width: 10em;
  text-align: right;
}

form#setup input[type=text] {
  width: 1.5em;
  text-align: right;
  border: 0;
  border-bottom: 1px solid black;
}

#generations {
  width: 2em !important;
}

#delay {
  width: 2.5em !important;
}

div.row {
  height: 1em;
}

div.cell {
  height: 1em;
  width: 1em;
  border: 1px solid blue;
  display: inline-block;
}

div.cell.alive {
  background-color: #00f;
}

h1 {
  font-size: 120%;
  background-color: #00f;
  color: #fff;
  padding-left: 1em;
}

h2 {
  font-size: 100%;
}

li {
  font-style: oblique;
}
